@mixin defineColor($class, $color) {
    .c-#{$class} {
        color: $color !important;
    }
    .c-#{$class}-event:hover, .c-#{$class}-event:active, .c-#{$class}-event:focus {
        color: $color !important;
    }
    .bgc-#{$class} {
        background-color: $color !important;
    }
    .bgc-#{$class}-event:hover, .bgc-#{$class}-event:active, .bgc-#{$class}-event:focus {
        background-color: $color !important;
    }
    .bdc-#{$class} {
        border-color: $color !important;
    }
    .bdc-#{$class}-event:hover, .bdc-#{$class}-event:active, .bdc-#{$class}-event:focus {
        border-color: $color !important;
    }
}

@include defineColor('white', $white);
@include defineColor('grey', $grey);
@include defineColor('blue', $blue);
@include defineColor('bluecat', $bluecat);
@include defineColor('roxocat', $roxocat);
@include defineColor('greencat', $greencat);
@include defineColor('orangecat', $orangecat);