// !WARNING: Check what you do not use

body {
    background-color: #fff;
    font-family: $font;
    font-weight: 500;
    overflow-x: hidden;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}



strong {
    font-weight: bold;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
}



@media only screen and (min-width: $xs) {

.meta-single {
    margin: 0 auto;
}
    nav {
        padding-left: 0px;
        padding-right: 0px;
        small {
            font-family: $font;
            font-size: 12px !important;
            letter-spacing: 0.5px;
        }
    }
    header {
        h1 {
            font-family: $font;
            font-size: 40px;
            line-height: 1;
	        font-weight: 300;
	        color: #616161;
        }
        h2 {
            font-family: $font;
            font-size: 25px;
            font-weight: 500;
            line-height: 1.19;
        }
        h3 {
            font-family: $font;
            font-size: 13px;
            letter-spacing: 2px;
        }
        p {
            font-family: $font;
            font-size: 15px;
	        line-height: 1.56;
        }
        small {
            font-family: $font;
            font-size: 12px;
        }
    }
    section {
        h3 {
            font-family: $font;
            font-size: 20px;
            line-height: 1.14;
            letter-spacing: 0.5px;
        }
        h4 {
            font-family: $font;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.19;
            letter-spacing: 0.5px;
        }
        p {
            font-family: $font;
            font-size: 14px;
	        line-height: 1.56;
        }
    }
    article.row {
        .category-style {
            font-size: 12px;
        }
        .recent-post-title {
            font-size: 36px;
        }
    }
    footer {
        small {
            font-family: $font;
            font-size: 12px;
            line-height: 3.0;
            letter-spacing: 0.2px;
        }
    }
    #firstNewsleter .container .row .col-md-12 {
        flex-direction: column;
    }
        .cards-play {
      display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;

}

}



@media only screen and (min-width: $sm) {
   .navbar-right {
       margin-right: 25px;
   }
   .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
       margin-left: 0;
   }
     article.row {
        .category-style {
            font-size: 12px;
            padding-top: 20px;
        }
        .recent-post-title {
            font-size: 32px;
        }
    }
    
    section {
        p {
            font-size: 14px;
        }
    }

}

@media only screen and (max-width: $sm) {
    .content-title {
    padding: 0px 45px 15px 45px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
       margin-left: 0px;
   }
.content-data {
    padding-left: 20px;
    margin-bottom: 30px; 
    
}
.social-media-icons {
position: relative;
top: 0;

}
.featured-image-thumb {
    width: 100%;
}

header {
    h1 {
        font-size: 30px;
    }
}

}

@media only screen and (max-width: $md) {
}
@media only screen and (min-width: $md) {

       section {
             p {
            font-size: 14px; 
                .title-cat {
font-size: 12px;
                }
        }
       }
}


@media only screen and (min-width: $lg) {

}