.overflow-h { overflow: hidden; }

.p-r { position: relative; }

.p-a { position: absolute; }

.transition { transition: 0.35s ease-in-out; }

.full-width { width: 100% !important; }

.full-height { height: 100% !important; }

.point { cursor: pointer; }

.upper { text-transform: uppercase; }

.lower { text-transform: lowercase; }

.inherit { text-transform: initial; }

.m-a { margin: auto; }

.p-0 { padding: 0 !important; }

.rotate-180 { transform: rotate(180deg); }

.va-m { vertical-align: middle; }

.f-l-xs { float: left; }

.f-r-xs { float: right; }

.ta-c-xs { text-align: center; }

.ta-l-xs { text-align: left; }

.ta-r-xs { text-align: right; }

.ta-c-xs { text-align: center; }

.p-r-xs { position: relative; }

.p-a-xs { position: absolute; }

.bd-0 { border: 0px solid; }

.bd-1 { border: 1px solid; }

.bd-2 { border: 2px solid; }

.bd-3 { border: 3px solid; }

.bd-4 { border: 4px solid; }

.bd-5 { border: 5px solid; }

.bd-6 { border: 6px solid; }

.bd-7 { border: 7px solid; }

.bd-8 { border: 8px solid; }

.bd-9 { border: 9px solid; }

.bd-10 { border: 10px solid; }

.pt-xs-0 { padding-top: 0px !important; }

.pt-xs-5 { padding-top: 5px !important; }

.pt-xs-10 { padding-top: 10px !important; }

.pt-xs-15 { padding-top: 15px !important; }

.pt-xs-20 { padding-top: 20px !important; }

.pt-xs-25 { padding-top: 25px !important; }

.pt-xs-30 { padding-top: 30px !important; }

.pt-xs-35 { padding-top: 35px !important; }

.pt-xs-40 { padding-top: 40px !important; }

.pt-xs-45 { padding-top: 45px !important; }

.pt-xs-50 { padding-top: 50px !important; }

.pt-xs-55 { padding-top: 55px !important; }

.pt-xs-60 { padding-top: 60px !important; }

.pt-xs-65 { padding-top: 65px !important; }

.pt-xs-70 { padding-top: 70px !important; }

.pt-xs-75 { padding-top: 75px !important; }

.pt-xs-80 { padding-top: 80px !important; }

.pt-xs-85 { padding-top: 85px !important; }

.pt-xs-90 { padding-top: 90px !important; }

.pt-xs-95 { padding-top: 95px !important; }

.pt-xs-100 { padding-top: 100px !important; }

.pt-xs-105 { padding-top: 105px !important; }

.pt-xs-110 { padding-top: 110px !important; }

.pt-xs-115 { padding-top: 115px !important; }

.pt-xs-120 { padding-top: 120px !important; }

.pt-xs-125 { padding-top: 125px !important; }

.pt-xs-130 { padding-top: 130px !important; }

.pt-xs-135 { padding-top: 135px !important; }

.pt-xs-140 { padding-top: 140px !important; }

.pt-xs-145 { padding-top: 145px !important; }

.pt-xs-150 { padding-top: 150px !important; }

.pt-xs-155 { padding-top: 155px !important; }

.pt-xs-160 { padding-top: 160px !important; }

.pt-xs-165 { padding-top: 165px !important; }

.pt-xs-170 { padding-top: 170px !important; }

.pt-xs-175 { padding-top: 175px !important; }

.pt-xs-180 { padding-top: 180px !important; }

.pt-xs-185 { padding-top: 185px !important; }

.pt-xs-190 { padding-top: 190px !important; }

.pt-xs-195 { padding-top: 195px !important; }

.pt-xs-200 { padding-top: 200px !important; }

.pb-xs-0 { padding-bottom: 0px !important; }

.pb-xs-5 { padding-bottom: 5px !important; }

.pb-xs-10 { padding-bottom: 10px !important; }

.pb-xs-15 { padding-bottom: 15px !important; }

.pb-xs-20 { padding-bottom: 20px !important; }

.pb-xs-25 { padding-bottom: 25px !important; }

.pb-xs-30 { padding-bottom: 30px !important; }

.pb-xs-35 { padding-bottom: 35px !important; }

.pb-xs-40 { padding-bottom: 40px !important; }

.pb-xs-45 { padding-bottom: 45px !important; }

.pb-xs-50 { padding-bottom: 50px !important; }

.pb-xs-55 { padding-bottom: 55px !important; }

.pb-xs-60 { padding-bottom: 60px !important; }

.pb-xs-65 { padding-bottom: 65px !important; }

.pb-xs-70 { padding-bottom: 70px !important; }

.pb-xs-75 { padding-bottom: 75px !important; }

.pb-xs-80 { padding-bottom: 80px !important; }

.pb-xs-85 { padding-bottom: 85px !important; }

.pb-xs-90 { padding-bottom: 90px !important; }

.pb-xs-95 { padding-bottom: 95px !important; }

.pb-xs-100 { padding-bottom: 100px !important; }

.pb-xs-105 { padding-bottom: 105px !important; }

.pb-xs-110 { padding-bottom: 110px !important; }

.pb-xs-115 { padding-bottom: 115px !important; }

.pb-xs-120 { padding-bottom: 120px !important; }

.pb-xs-125 { padding-bottom: 125px !important; }

.pb-xs-130 { padding-bottom: 130px !important; }

.pb-xs-135 { padding-bottom: 135px !important; }

.pb-xs-140 { padding-bottom: 140px !important; }

.pb-xs-145 { padding-bottom: 145px !important; }

.pb-xs-150 { padding-bottom: 150px !important; }

.pb-xs-155 { padding-bottom: 155px !important; }

.pb-xs-160 { padding-bottom: 160px !important; }

.pb-xs-165 { padding-bottom: 165px !important; }

.pb-xs-170 { padding-bottom: 170px !important; }

.pb-xs-175 { padding-bottom: 175px !important; }

.pb-xs-180 { padding-bottom: 180px !important; }

.pb-xs-185 { padding-bottom: 185px !important; }

.pb-xs-190 { padding-bottom: 190px !important; }

.pb-xs-195 { padding-bottom: 195px !important; }

.pb-xs-200 { padding-bottom: 200px !important; }

.mt-xs-0 { margin-top: 0px !important; }

.mt-xs-5 { margin-top: 5px !important; }

.mt-xs-10 { margin-top: 10px !important; }

.mt-xs-15 { margin-top: 15px !important; }

.mt-xs-20 { margin-top: 20px !important; }

.mt-xs-25 { margin-top: 25px !important; }

.mt-xs-30 { margin-top: 30px !important; }

.mt-xs-35 { margin-top: 35px !important; }

.mt-xs-40 { margin-top: 40px !important; }

.mt-xs-45 { margin-top: 45px !important; }

.mt-xs-50 { margin-top: 50px !important; }

.mt-xs-55 { margin-top: 55px !important; }

.mt-xs-60 { margin-top: 60px !important; }

.mt-xs-65 { margin-top: 65px !important; }

.mt-xs-70 { margin-top: 70px !important; }

.mt-xs-75 { margin-top: 75px !important; }

.mt-xs-80 { margin-top: 80px !important; }

.mt-xs-85 { margin-top: 85px !important; }

.mt-xs-90 { margin-top: 90px !important; }

.mt-xs-95 { margin-top: 95px !important; }

.mt-xs-100 { margin-top: 100px !important; }

.mt-xs-105 { margin-top: 105px !important; }

.mt-xs-110 { margin-top: 110px !important; }

.mt-xs-115 { margin-top: 115px !important; }

.mt-xs-120 { margin-top: 120px !important; }

.mt-xs-125 { margin-top: 125px !important; }

.mt-xs-130 { margin-top: 130px !important; }

.mt-xs-135 { margin-top: 135px !important; }

.mt-xs-140 { margin-top: 140px !important; }

.mt-xs-145 { margin-top: 145px !important; }

.mt-xs-150 { margin-top: 150px !important; }

.mt-xs-155 { margin-top: 155px !important; }

.mt-xs-160 { margin-top: 160px !important; }

.mt-xs-165 { margin-top: 165px !important; }

.mt-xs-170 { margin-top: 170px !important; }

.mt-xs-175 { margin-top: 175px !important; }

.mt-xs-180 { margin-top: 180px !important; }

.mt-xs-185 { margin-top: 185px !important; }

.mt-xs-190 { margin-top: 190px !important; }

.mt-xs-195 { margin-top: 195px !important; }

.mt-xs-200 { margin-top: 200px !important; }

.mb-xs-0 { margin-bottom: 0px !important; }

.mb-xs-5 { margin-bottom: 5px !important; }

.mb-xs-10 { margin-bottom: 10px !important; }

.mb-xs-15 { margin-bottom: 15px !important; }

.mb-xs-20 { margin-bottom: 20px !important; }

.mb-xs-25 { margin-bottom: 25px !important; }

.mb-xs-30 { margin-bottom: 30px !important; }

.mb-xs-35 { margin-bottom: 35px !important; }

.mb-xs-40 { margin-bottom: 40px !important; }

.mb-xs-45 { margin-bottom: 45px !important; }

.mb-xs-50 { margin-bottom: 50px !important; }

.mb-xs-55 { margin-bottom: 55px !important; }

.mb-xs-60 { margin-bottom: 60px !important; }

.mb-xs-65 { margin-bottom: 65px !important; }

.mb-xs-70 { margin-bottom: 70px !important; }

.mb-xs-75 { margin-bottom: 75px !important; }

.mb-xs-80 { margin-bottom: 80px !important; }

.mb-xs-85 { margin-bottom: 85px !important; }

.mb-xs-90 { margin-bottom: 90px !important; }

.mb-xs-95 { margin-bottom: 95px !important; }

.mb-xs-100 { margin-bottom: 100px !important; }

.mb-xs-105 { margin-bottom: 105px !important; }

.mb-xs-110 { margin-bottom: 110px !important; }

.mb-xs-115 { margin-bottom: 115px !important; }

.mb-xs-120 { margin-bottom: 120px !important; }

.mb-xs-125 { margin-bottom: 125px !important; }

.mb-xs-130 { margin-bottom: 130px !important; }

.mb-xs-135 { margin-bottom: 135px !important; }

.mb-xs-140 { margin-bottom: 140px !important; }

.mb-xs-145 { margin-bottom: 145px !important; }

.mb-xs-150 { margin-bottom: 150px !important; }

.mb-xs-155 { margin-bottom: 155px !important; }

.mb-xs-160 { margin-bottom: 160px !important; }

.mb-xs-165 { margin-bottom: 165px !important; }

.mb-xs-170 { margin-bottom: 170px !important; }

.mb-xs-175 { margin-bottom: 175px !important; }

.mb-xs-180 { margin-bottom: 180px !important; }

.mb-xs-185 { margin-bottom: 185px !important; }

.mb-xs-190 { margin-bottom: 190px !important; }

.mb-xs-195 { margin-bottom: 195px !important; }

.mb-xs-200 { margin-bottom: 200px !important; }

@media only screen and (min-width: 768px) { .pt-sm-0 { padding-top: 0px !important; }
  .pt-sm-5 { padding-top: 5px !important; }
  .pt-sm-10 { padding-top: 10px !important; }
  .pt-sm-15 { padding-top: 15px !important; }
  .pt-sm-20 { padding-top: 20px !important; }
  .pt-sm-25 { padding-top: 25px !important; }
  .pt-sm-30 { padding-top: 30px !important; }
  .pt-sm-35 { padding-top: 35px !important; }
  .pt-sm-40 { padding-top: 40px !important; }
  .pt-sm-45 { padding-top: 45px !important; }
  .pt-sm-50 { padding-top: 50px !important; }
  .pt-sm-55 { padding-top: 55px !important; }
  .pt-sm-60 { padding-top: 60px !important; }
  .pt-sm-65 { padding-top: 65px !important; }
  .pt-sm-70 { padding-top: 70px !important; }
  .pt-sm-75 { padding-top: 75px !important; }
  .pt-sm-80 { padding-top: 80px !important; }
  .pt-sm-85 { padding-top: 85px !important; }
  .pt-sm-90 { padding-top: 90px !important; }
  .pt-sm-95 { padding-top: 95px !important; }
  .pt-sm-100 { padding-top: 100px !important; }
  .pt-sm-105 { padding-top: 105px !important; }
  .pt-sm-110 { padding-top: 110px !important; }
  .pt-sm-115 { padding-top: 115px !important; }
  .pt-sm-120 { padding-top: 120px !important; }
  .pt-sm-125 { padding-top: 125px !important; }
  .pb-sm-0 { padding-bottom: 0px !important; }
  .pb-sm-5 { padding-bottom: 5px !important; }
  .pb-sm-10 { padding-bottom: 10px !important; }
  .pb-sm-15 { padding-bottom: 15px !important; }
  .pb-sm-20 { padding-bottom: 20px !important; }
  .pb-sm-25 { padding-bottom: 25px !important; }
  .pb-sm-30 { padding-bottom: 30px !important; }
  .pb-sm-35 { padding-bottom: 35px !important; }
  .pb-sm-40 { padding-bottom: 40px !important; }
  .pb-sm-45 { padding-bottom: 45px !important; }
  .pb-sm-50 { padding-bottom: 50px !important; }
  .pb-sm-55 { padding-bottom: 55px !important; }
  .pb-sm-60 { padding-bottom: 60px !important; }
  .pb-sm-65 { padding-bottom: 65px !important; }
  .pb-sm-70 { padding-bottom: 70px !important; }
  .pb-sm-75 { padding-bottom: 75px !important; }
  .pb-sm-80 { padding-bottom: 80px !important; }
  .pb-sm-85 { padding-bottom: 85px !important; }
  .pb-sm-90 { padding-bottom: 90px !important; }
  .pb-sm-95 { padding-bottom: 95px !important; }
  .pb-sm-100 { padding-bottom: 100px !important; }
  .pb-sm-105 { padding-bottom: 105px !important; }
  .pb-sm-110 { padding-bottom: 110px !important; }
  .pb-sm-115 { padding-bottom: 115px !important; }
  .pb-sm-120 { padding-bottom: 120px !important; }
  .pb-sm-125 { padding-bottom: 125px !important; }
  .mt-sm-0 { margin-top: 0px !important; }
  .mt-sm-5 { margin-top: 5px !important; }
  .mt-sm-10 { margin-top: 10px !important; }
  .mt-sm-15 { margin-top: 15px !important; }
  .mt-sm-20 { margin-top: 20px !important; }
  .mt-sm-25 { margin-top: 25px !important; }
  .mt-sm-30 { margin-top: 30px !important; }
  .mt-sm-35 { margin-top: 35px !important; }
  .mt-sm-40 { margin-top: 40px !important; }
  .mt-sm-45 { margin-top: 45px !important; }
  .mt-sm-50 { margin-top: 50px !important; }
  .mt-sm-55 { margin-top: 55px !important; }
  .mt-sm-60 { margin-top: 60px !important; }
  .mt-sm-65 { margin-top: 65px !important; }
  .mt-sm-70 { margin-top: 70px !important; }
  .mt-sm-75 { margin-top: 75px !important; }
  .mt-sm-80 { margin-top: 80px !important; }
  .mt-sm-85 { margin-top: 85px !important; }
  .mt-sm-90 { margin-top: 90px !important; }
  .mt-sm-95 { margin-top: 95px !important; }
  .mt-sm-100 { margin-top: 100px !important; }
  .mb-sm-0 { margin-bottom: 0px !important; }
  .mb-sm-5 { margin-bottom: 5px !important; }
  .mb-sm-10 { margin-bottom: 10px !important; }
  .mb-sm-15 { margin-bottom: 15px !important; }
  .mb-sm-20 { margin-bottom: 20px !important; }
  .mb-sm-25 { margin-bottom: 25px !important; }
  .mb-sm-30 { margin-bottom: 30px !important; }
  .mb-sm-35 { margin-bottom: 35px !important; }
  .mb-sm-40 { margin-bottom: 40px !important; }
  .mb-sm-45 { margin-bottom: 45px !important; }
  .mb-sm-50 { margin-bottom: 50px !important; }
  .mb-sm-55 { margin-bottom: 55px !important; }
  .mb-sm-60 { margin-bottom: 60px !important; }
  .mb-sm-65 { margin-bottom: 65px !important; }
  .mb-sm-70 { margin-bottom: 70px !important; }
  .mb-sm-75 { margin-bottom: 75px !important; }
  .mb-sm-80 { margin-bottom: 80px !important; }
  .mb-sm-85 { margin-bottom: 85px !important; }
  .mb-sm-90 { margin-bottom: 90px !important; }
  .mb-sm-95 { margin-bottom: 95px !important; }
  .mb-sm-100 { margin-bottom: 100px !important; }
  .p-r-sm { position: relative; }
  .p-a-sm { position: absolute; }
  .f-l-sm { float: left; }
  .f-r-sm { float: right; }
  .ta-c-sm { text-align: center; }
  .ta-l-sm { text-align: left; }
  .ta-r-sm { text-align: right; }
  .d-ib { display: inline-block !important; } }
@media only screen and (min-width: 992px) { .pt-md-0 { padding-top: 0px !important; }
  .pt-md-5 { padding-top: 5px !important; }
  .pt-md-10 { padding-top: 10px !important; }
  .pt-md-15 { padding-top: 15px !important; }
  .pt-md-20 { padding-top: 20px !important; }
  .pt-md-25 { padding-top: 25px !important; }
  .pt-md-30 { padding-top: 30px !important; }
  .pt-md-35 { padding-top: 35px !important; }
  .pt-md-40 { padding-top: 40px !important; }
  .pt-md-45 { padding-top: 45px !important; }
  .pt-md-50 { padding-top: 50px !important; }
  .pt-md-55 { padding-top: 55px !important; }
  .pt-md-60 { padding-top: 60px !important; }
  .pt-md-65 { padding-top: 65px !important; }
  .pt-md-70 { padding-top: 70px !important; }
  .pt-md-75 { padding-top: 75px !important; }
  .pt-md-80 { padding-top: 80px !important; }
  .pt-md-85 { padding-top: 85px !important; }
  .pt-md-90 { padding-top: 90px !important; }
  .pt-md-95 { padding-top: 95px !important; }
  .pt-md-100 { padding-top: 100px !important; }
  .pt-md-105 { padding-top: 105px !important; }
  .pt-md-110 { padding-top: 110px !important; }
  .pt-md-115 { padding-top: 115px !important; }
  .pt-md-120 { padding-top: 120px !important; }
  .pt-md-125 { padding-top: 125px !important; }
  .pt-md-130 { padding-top: 130px !important; }
  .pt-md-135 { padding-top: 135px !important; }
  .pt-md-140 { padding-top: 140px !important; }
  .pt-md-145 { padding-top: 145px !important; }
  .pt-md-150 { padding-top: 150px !important; }
  .pb-md-0 { padding-bottom: 0px !important; }
  .pb-md-5 { padding-bottom: 5px !important; }
  .pb-md-10 { padding-bottom: 10px !important; }
  .pb-md-15 { padding-bottom: 15px !important; }
  .pb-md-20 { padding-bottom: 20px !important; }
  .pb-md-25 { padding-bottom: 25px !important; }
  .pb-md-30 { padding-bottom: 30px !important; }
  .pb-md-35 { padding-bottom: 35px !important; }
  .pb-md-40 { padding-bottom: 40px !important; }
  .pb-md-45 { padding-bottom: 45px !important; }
  .pb-md-50 { padding-bottom: 50px !important; }
  .pb-md-55 { padding-bottom: 55px !important; }
  .pb-md-60 { padding-bottom: 60px !important; }
  .pb-md-65 { padding-bottom: 65px !important; }
  .pb-md-70 { padding-bottom: 70px !important; }
  .pb-md-75 { padding-bottom: 75px !important; }
  .pb-md-80 { padding-bottom: 80px !important; }
  .pb-md-85 { padding-bottom: 85px !important; }
  .pb-md-90 { padding-bottom: 90px !important; }
  .pb-md-95 { padding-bottom: 95px !important; }
  .pb-md-100 { padding-bottom: 100px !important; }
  .mt-md-0 { margin-top: 0px !important; }
  .mt-md-5 { margin-top: 5px !important; }
  .mt-md-10 { margin-top: 10px !important; }
  .mt-md-15 { margin-top: 15px !important; }
  .mt-md-20 { margin-top: 20px !important; }
  .mt-md-25 { margin-top: 25px !important; }
  .mt-md-30 { margin-top: 30px !important; }
  .mt-md-35 { margin-top: 35px !important; }
  .mt-md-40 { margin-top: 40px !important; }
  .mt-md-45 { margin-top: 45px !important; }
  .mt-md-50 { margin-top: 50px !important; }
  .mt-md-55 { margin-top: 55px !important; }
  .mt-md-60 { margin-top: 60px !important; }
  .mt-md-65 { margin-top: 65px !important; }
  .mt-md-70 { margin-top: 70px !important; }
  .mt-md-75 { margin-top: 75px !important; }
  .mt-md-80 { margin-top: 80px !important; }
  .mt-md-85 { margin-top: 85px !important; }
  .mt-md-90 { margin-top: 90px !important; }
  .mt-md-95 { margin-top: 95px !important; }
  .mt-md-100 { margin-top: 100px !important; }
  .p-r-md { position: relative; }
  .p-a-md { position: absolute; }
  .f-l-md { float: left; }
  .f-r-md { float: right; }
  .ta-c-md { text-align: center; }
  .ta-l-md { text-align: left; } }
@media only screen and (min-width: 1200px) { .pt-lg-0 { padding-top: 0px !important; }
  .pt-lg-10 { padding-top: 10px !important; }
  .pt-lg-20 { padding-top: 20px !important; }
  .pt-lg-30 { padding-top: 30px !important; }
  .pt-lg-40 { padding-top: 40px !important; }
  .pt-lg-50 { padding-top: 50px !important; }
  .pt-lg-60 { padding-top: 60px !important; }
  .pt-lg-70 { padding-top: 70px !important; }
  .pt-lg-80 { padding-top: 80px !important; }
  .pt-lg-90 { padding-top: 90px !important; }
  .pt-lg-100 { padding-top: 100px !important; }
  .p-r-lg { position: relative; }
  .p-a-lg { position: absolute; }
  .f-l-lg { float: left; }
  .f-r-lg { float: right; }
  .ta-c-lg { text-align: center; } }
@media only screen and (max-width: 320px) { .d-n-xs { display: none; } }
@media only screen and (max-width: 768px) { .d-n-sm { display: none; } }
@media only screen and (max-width: 992px) { .d-n-md { display: none; } }
.d-n-lg { display: none; }

body { background-color: #fff; font-family: "Lato", Arial, Helvetica, sans-serif; font-weight: 500; overflow-x: hidden; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important; }

strong { font-weight: bold; }

a, a:hover, a:active, a:focus { text-decoration: none; }

p { margin: 0; }

@media only screen and (min-width: 320px) { .meta-single { margin: 0 auto; }
  nav { padding-left: 0px; padding-right: 0px; }
  nav small { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 12px !important; letter-spacing: 0.5px; }
  header h1 { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 40px; line-height: 1; font-weight: 300; color: #616161; }
  header h2 { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 25px; font-weight: 500; line-height: 1.19; }
  header h3 { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 13px; letter-spacing: 2px; }
  header p { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.56; }
  header small { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 12px; }
  section h3 { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 20px; line-height: 1.14; letter-spacing: 0.5px; }
  section h4 { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 20px; font-weight: 300; line-height: 1.19; letter-spacing: 0.5px; }
  section p { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 14px; line-height: 1.56; }
  article.row .category-style { font-size: 12px; }
  article.row .recent-post-title { font-size: 36px; }
  footer small { font-family: "Lato", Arial, Helvetica, sans-serif; font-size: 12px; line-height: 3.0; letter-spacing: 0.2px; }
  #firstNewsleter .container .row .col-md-12 { flex-direction: column; }
  .cards-play { display: flex; flex-direction: column; align-items: center; padding-bottom: 30px; } }
@media only screen and (min-width: 768px) { .navbar-right { margin-right: 25px; }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0; }
  article.row .category-style { font-size: 12px; padding-top: 20px; }
  article.row .recent-post-title { font-size: 32px; }
  section p { font-size: 14px; } }
@media only screen and (max-width: 768px) { .content-title { padding: 0px 45px 15px 45px; }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0px; }
  .content-data { padding-left: 20px; margin-bottom: 30px; }
  .social-media-icons { position: relative; top: 0; }
  .featured-image-thumb { width: 100%; }
  header h1 { font-size: 30px; } }
@media only screen and (min-width: 992px) { section p { font-size: 14px; }
  section p .title-cat { font-size: 12px; } }
.c-white { color: #fff !important; }

.c-white-event:hover, .c-white-event:active, .c-white-event:focus { color: #fff !important; }

.bgc-white { background-color: #fff !important; }

.bgc-white-event:hover, .bgc-white-event:active, .bgc-white-event:focus { background-color: #fff !important; }

.bdc-white { border-color: #fff !important; }

.bdc-white-event:hover, .bdc-white-event:active, .bdc-white-event:focus { border-color: #fff !important; }

.c-grey { color: #616161 !important; }

.c-grey-event:hover, .c-grey-event:active, .c-grey-event:focus { color: #616161 !important; }

.bgc-grey { background-color: #616161 !important; }

.bgc-grey-event:hover, .bgc-grey-event:active, .bgc-grey-event:focus { background-color: #616161 !important; }

.bdc-grey { border-color: #616161 !important; }

.bdc-grey-event:hover, .bdc-grey-event:active, .bdc-grey-event:focus { border-color: #616161 !important; }

.c-blue { color: #1ca6df !important; }

.c-blue-event:hover, .c-blue-event:active, .c-blue-event:focus { color: #1ca6df !important; }

.bgc-blue { background-color: #1ca6df !important; }

.bgc-blue-event:hover, .bgc-blue-event:active, .bgc-blue-event:focus { background-color: #1ca6df !important; }

.bdc-blue { border-color: #1ca6df !important; }

.bdc-blue-event:hover, .bdc-blue-event:active, .bdc-blue-event:focus { border-color: #1ca6df !important; }

.c-bluecat { color: #008ad0 !important; }

.c-bluecat-event:hover, .c-bluecat-event:active, .c-bluecat-event:focus { color: #008ad0 !important; }

.bgc-bluecat { background-color: #008ad0 !important; }

.bgc-bluecat-event:hover, .bgc-bluecat-event:active, .bgc-bluecat-event:focus { background-color: #008ad0 !important; }

.bdc-bluecat { border-color: #008ad0 !important; }

.bdc-bluecat-event:hover, .bdc-bluecat-event:active, .bdc-bluecat-event:focus { border-color: #008ad0 !important; }

.c-roxocat { color: #7d2697 !important; }

.c-roxocat-event:hover, .c-roxocat-event:active, .c-roxocat-event:focus { color: #7d2697 !important; }

.bgc-roxocat { background-color: #7d2697 !important; }

.bgc-roxocat-event:hover, .bgc-roxocat-event:active, .bgc-roxocat-event:focus { background-color: #7d2697 !important; }

.bdc-roxocat { border-color: #7d2697 !important; }

.bdc-roxocat-event:hover, .bdc-roxocat-event:active, .bdc-roxocat-event:focus { border-color: #7d2697 !important; }

.c-greencat { color: #00ae99 !important; }

.c-greencat-event:hover, .c-greencat-event:active, .c-greencat-event:focus { color: #00ae99 !important; }

.bgc-greencat { background-color: #00ae99 !important; }

.bgc-greencat-event:hover, .bgc-greencat-event:active, .bgc-greencat-event:focus { background-color: #00ae99 !important; }

.bdc-greencat { border-color: #00ae99 !important; }

.bdc-greencat-event:hover, .bdc-greencat-event:active, .bdc-greencat-event:focus { border-color: #00ae99 !important; }

.c-orangecat { color: #ff942f !important; }

.c-orangecat-event:hover, .c-orangecat-event:active, .c-orangecat-event:focus { color: #ff942f !important; }

.bgc-orangecat { background-color: #ff942f !important; }

.bgc-orangecat-event:hover, .bgc-orangecat-event:active, .bgc-orangecat-event:focus { background-color: #ff942f !important; }

.bdc-orangecat { border-color: #ff942f !important; }

.bdc-orangecat-event:hover, .bdc-orangecat-event:active, .bdc-orangecat-event:focus { border-color: #ff942f !important; }

.navbar-brand { display: flex; flex-direction: row; align-items: center; }

.navbar-default .navbar-nav > li > a { padding-left: 0; padding-right: 0; margin-right: 14px; padding-bottom: 5px; transition: 0.35s ease-in-out; }

.carousel { height: inherit; }

.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active { opacity: 0.4; -webkit-filter: blur(4px); filter: blur(5px); }

.carousel-inner { height: 100%; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img { height: 540px; max-width: 1090px; }

.form-group { display: flex !important; align-items: center; justify-content: flex-end; }

.item { overflow: hidden; height: 100%; }
.item img { position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.carousel-inner { background: #0e5977; }

.carousel-inner img { margin: auto; }

.carousel-indicators { width: 100%; margin-left: 0; left: 0; top: 100px; padding: 0px 30px; }

.carousel-indicators .active { width: 100%; height: auto; background-color: transparent; }

.carousel-indicators ol { display: inline-flex; }

.carousel-indicators li { text-indent: unset; width: 100%; height: auto; border: none; padding: 15px; font-size: 18px; text-align: left; line-height: 1.7; }

.carousel-indicators li a { color: white; }

.navbar-default .navbar-nav > li > a:hover { color: #1ca6df; }

@media only screen and (max-width: 1199px) { .mynavbar .nav { text-align: right; } }
@media only screen and (max-width: 992px) { .align-item { justify-content: flex-end !important; }
  .navbar-header { width: 100%; }
  #searchform input[type=search] { float: right; }
  .navbar-default .navbar-nav > li > a { font-size: 12px; } }
@media only screen and (max-width: 768px) { .mynavbar .nav { text-align: center; }
  .navbar-default .navbar-nav > li > a { border: none; font-weight: normal; opacity: .8; }
  .navbar-default .navbar-nav > li > a:hover { border: none; font-weight: bold; opacity: 1; color: white; }
  .nav > li { display: block !important; } }
.home-main { padding-top: 20px; }
.home-main .post { overflow: hidden; padding: 0; max-height: 270px; }
.home-main .post .content-image { width: 300px; height: 300px; }
.home-main .post .content-image a { overflow: hidden; max-height: 100%; }
.home-main .post .content-image a img { width: 100%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/*# sourceMappingURL=main.css.map */
